.alterationformview .span4{ width: 32%; margin:0 auto;display:inline-block;}
.alterationformview .span2{ width: 25%; margin:0 auto;display:inline-block;}
.alterationformview .span6{ width: 50%; margin:0 auto;display:inline-block;}
.section{padding-bottom:20px;}
[data-fieldtype="alteration-quantity"] {
  width:50px;
}
.modal-alterationformview .modal-dialog{
  width:815px;
}
.clear{ clear:both;}
/* Chrome, Safari, Edge, Opera */
.alterationformview input::-webkit-outer-spin-button,
.alterationformview input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.alterationformview input[type=number] {
  -moz-appearance: textfield;
}
